# Mission to Mars

# Scrapping

In [1]:
#Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import re
import time
import os
import pandas as pd
import requests

In [2]:
#Pointing to the directory where chromedriver exists
executable_path = {"executable_path":"/Users/frsutharshan/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [3]:
#connecting to NASA site
url = "https://mars.nasa.gov/news"
browser.visit(url)

In [4]:
#using beautifulsoup to parse html
html = browser.html
news_soup = bs(html,"html.parser")

In [5]:
# wait and finf out if the page is loaded
browser.is_element_present_by_css('div.content_title',wait_time=1)

True

In [6]:
#Get news title and paragraph
news_title = news_soup.find_all("div",class_="content_title")[0::1][1].text

print(f"Title: {news_title}")

news_paragraph = news_soup.find("div", class_="article_teaser_body").text
print(f"Para: {news_paragraph}")

Title: The Detective Aboard NASA's Perseverance Rover
Para: An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

# JPL Featured Image

In [7]:
# visiting url for the featured image
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [8]:
#Getting the base url
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}".format(urlsplit(url_image))
print(base_url)

https://www.jpl.nasa.gov

In [9]:
#Design an xpath selector to grab the image
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [10]:
browser.is_element_present_by_xpath(xpath, wait_time=1)

True

In [11]:
#Use splinter to click on the mars featured image
#to bring the full resolution image
results = browser.find_by_xpath(xpath)
# img = results[0]
img = results

In [12]:
img.click()

In [13]:
time.sleep(5)

In [14]:
#get image url using BeautifulSoup
html_image = browser.html
soup = bs(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_img_url = base_url + img_url
print(full_img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23932_hires.jpg

# Mars Weather

In [15]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [17]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")
#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather = soup.find("div", class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").text
print(mars_weather)

InSight sol 529 (2020-05-22) low -93.2ºC (-135.8ºF) high 0.6ºC (33.1ºF)
winds from the WNW at 4.6 m/s (10.3 mph) gusting to 15.5 m/s (34.6 mph)
pressure at 7.10 hPa

# Mars Facts

In [18]:
# Visiting Mars Facts website to get the facts
url_facts ="https://space-facts.com/mars/"

In [19]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
# adding proper titles
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
#Converting facts to html table format
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [22]:
#Visit the USGS Astrology site to obtain high images for each Hemisphere
usgs_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(usgs_url)

In [24]:
#..You will need to click each of the links to the hemispheres in order 
soup = bs(browser.html, "html.parser")
hemi_attributes_list = soup.find_all('a', class_="itemLink product-item")

In [25]:
# Removing duplicates from the list
hemi_no_dup_list = []
hemi_no_dup_list.append(hemi_attributes_list[1])
hemi_no_dup_list.append(hemi_attributes_list[3])
hemi_no_dup_list.append(hemi_attributes_list[5])
hemi_no_dup_list.append(hemi_attributes_list[7])

print(hemi_no_dup_list)

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a>]

In [26]:
#Save both the image url string for the full resolution hemisphere image
# and the hemisphere title containing the hemisphere name. Use
# a Python dictionary to store the data using keys img_url and title
hemisphere_image_urls = []
for hemi_img in hemi_no_dup_list:
    img_title = hemi_img.find('h3').text
    #print(img_title)
    link_to_img = "https://astrogeology.usgs.gov/" + hemi_img['href']
    #print(link_to_img)
    browser.visit(link_to_img)
    soup = bs(browser.html, 'html.parser')
    img_tag = soup.find('div', class_='downloads')
    img_url = img_tag.find('a')['href']
    hemisphere_image_urls.append({"Title": img_title, "Image_Url": img_url})

In [27]:
print(hemisphere_image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image_Url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_Url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_Url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_Url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]